[submodule "template-react-vite-muijoy"]
	path = template-react-vite-muijoy
	url = https://github.com/DRincs-Productions/pixi-vn-react-template
	branch = main
[submodule "template-react-vite-muijoy-electron"]
	path = template-react-vite-muijoy-electron
	url = https://github.com/DRincs-Productions/pixi-vn-react-template
	branch = electron
[submodule "template-react-vite-muijoy-tauri"]
	path = template-react-vite-muijoy-tauri
	url = https://github.com/DRincs-Productions/pixi-vn-react-template
	branch = tauri
[submodule "template-react-ink-vite-muijoy"]
	path = template-react-ink-vite-muijoy
	branch = main
	url = https://github.com/DRincs-Productions/pixi-vn-react-ink-template
[submodule "template-react-ink-vite-muijoy-tauri"]
	path = template-react-ink-vite-muijoy-tauri
	url = https://github.com/DRincs-Productions/pixi-vn-react-ink-template
	branch = tauri
