[submodule "template-react-vite-muijoy"]
	path = template-react-vite-muijoy
	url = https://github.com/DRincs-Productions/pixi-vn-react-template
	branch = main
[submodule "template-react-vite-muijoy-electron"]
	path = template-react-vite-muijoy-electron
	url = https://github.com/DRincs-Productions/pixi-vn-react-template
